<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>

        {% for employee in employees %}

        {% if employee.name == namee %}
        <h1>{{employee.name}}...</h1>
        <p>{{employee.department}}</p>
        <p>{{employee.gender}}</p>
        <p>{{employee.email}}</p>

        {% endif %}


        {% endfor %}

        <button><a href="/">Back</a></button>

    </div>
</body>

</html>