<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <style>
        *{
            padding: 0;
            margin-right: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        body{
            width:100%;

        }
        table{
            width:70%;
            position: absolute;
        }
    </style>
</head>

<body>

    <table>
        <a href="/back3"><button>Back</button></a>
        <tr>
            <th>Name</th>
            <th>Clarification</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Mobile</th>
        </tr>

        {% for employs in employee %}
        <tr>
            <td>{{employs.name}}</td>
            <td>{{employs.clarification}}</td>
            <td>{{employs.gender}}</td>
            <td>{{employs.age}}</td>
            <td>{{employs.phone_number}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>